body{
    margin: 2em;
}
h1{
    font-size: 60px ;
    text-align: center;
}
ul {
    list-style: none;
    text-align: center;
    font-size: 22px;
  }

li{
    display: inline-block;
    margin-right: 30px;
}

.imgprin{
    width: 900px;
    height: 400px;
    margin: 0 auto;
    display: block;
}
.img-bio{
    width: 200px;
    height: 300px;
}